# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.

OPENAI_API_KEY="<YOUR KEY>"
ANTHROPIC_API_KEY="<YOUR KEY>"
TOKENIZERS_PARALLELISM=true
BLOG_POST_URL="YOUR BLOG URL"
DIFFBOT_TOKEN="<YOUR TOKEN>"