{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">Wordpress RAG by {{ app_data['author'] }} </h1>
    <p class="lead">Get answers to questions from any Wordpress blog</p>
    <!--<p>Title: {{ app_data['html_title'] }}</p>-->


    <form action="/process_query" method="post">
      <div class="form-group">
        <!--<label for="queryInput">Query</label>-->
        <input type="text" class="form-control" id="queryInput" name="queryInput" aria-describedby="queryHelp" placeholder="What do you want to know?">
      </div>
      <br>
      <div>
        <button type="submit" class="btn btn-primary" onclick="loading();">Submit</button>
      </div>
    </form>
    <br>
    <br>
    <div class='container'>
      <!--<div class="col-lg-6">-->
        <fieldset class="border p-2">
          <div class="spinner-border" id="loading" style="display:none"></div>
          <legend class="float-none w-auto p-2">Answer:</legend>
            <p id="innerPara" style="padding-left: 10px;">
              {{ app_data['answer'] }}
          </p>
    </fieldset>
    <!--</div>-->
  </div>
  <br>
  <div class='container'>
    <p id="source" style="font-style: italic;">SOURCE: {{ app_data['source']}}</p>
  </div>

{% endblock %}
